*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess
bin
vendor
cis/index.php
test/codeception/tests/acceptance.suite.yml
test/codeception/tests/functional.suite.yml
test/codeception/tests/unit.suite.yml
