@import url("https://sandbox.advantage-apps.com/fhstp-bewerbungstool-up3v/responsive.css");

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,600,400&subset=latin,latin-ext,greek");
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?8jtjnw");
  src: url("../fonts/icomoon.eot?8jtjnw#iefix") format("embedded-opentype"), url("./fonts/icomoon.ttf?8jtjnw") format("truetype"), url("./fonts/icomoon.woff?8jtjnw") format("woff"), url("./fonts/icomoon.svg?8jtjnw#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
